{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <h2>{{ post.body }}</h2>
    {% endfor %}
{% endblock %}
